.app-shell {
  display: flex;
  max-width: 1512px;
  max-height: 978px;
  width: auto;
  height: auto;
  align-items: flex-start;
  min-height: 100vh;
  min-width: 100vw;
}

.main-panel {
  max-width: 1226px;
  max-height: 1083px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 23px;

}


